<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Julio Domingo y Álvaro Escribano. <br>
    <a href="http://github.com/juliodomingo/quiz_2017"> http://github.com/juliodomingo/quiz_2017 </a>
</p>

<img src="/images/Julio.png" alt="Julio Domingo" width="414px"/>
<img src="/images/Alvaro.png" alt="Álvaro Escribano" width="414px"/>
