<h1>Ayuda</h1>
<p>
Este portal es una red social de acertijos (quizzes), donde los usuarios pueden crear sus propios acertijos y subirlos.
Para responder a cada quiz se debe pulsar sobre él, y tras escribir la respuesta se puede comprobar si es correcta o no.
</p>

